# history files
.Rhistory
.Rapp.history

# session data files
.RData
.RDataTmp

# user-specific files
.Ruserdata

# output files from R CMD build
/*.tar.gz

# output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# R environment variables
.Renviron

# renv library
renv/library

# folders
_raw_data/
data/

# .qmd build artifacts
*_files/

